.next-btn,
.back-btn {
  position: fixed;
  bottom: 5vh;       /* 5% מגובה המסך */
  width: 10vw;        /* רוחב הכפתור 5% מרוחב המסך */
  height: auto;      /* שמור על יחס תמונה */
  z-index: 2000;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.next-btn {
  left: 15vw;         /* 5% מרוחב המסך מהקצה השמאלי */
}

.back-btn {
  right: 15vw;        /* 5% מרוחב המסך מהקצה הימני */
}

.next-btn:hover,
.back-btn:hover {
  filter: brightness(90%);
}

@media screen and (max-width: 768px) {
  .next-btn,
.back-btn {
  width: 20vw;        
}

.next-btn {
  left: 5vw;         /* 5% מרוחב המסך מהקצה השמאלי */
}

.back-btn {
  right: 5vw;        /* 5% מרוחב המסך מהקצה הימני */
}
}