.PakarHeadquarters {
    background-color: aliceblue;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh 0;
    box-sizing: border-box;
}

#title-PakarHeadquarters {
    font-size: 4vmax;
    text-align: center;
}

/* כרטיסיות */
#pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 עמודות */
    gap: 2vw;
    width: 70%;
    justify-items: center;
}
